@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro);

body {
  background-color: hsla(190, 10%, 50%, 1);
  color: hsla(190, 10%, 30%, 1);
  font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid {
  position: relative;
  min-height: 100vh;
}

.item {
  text-align: center;
  height: 33.33vh;
  line-height: 33.33vh;
  font-size: 2rem;
  @media (min-width: 600px) {
    font-size: 4rem;
  };
}

#meal {
  display: block;
}

#side {
  display: none;
}

#drink {
  display: none;
}

$results-padding: 20px;

#results {
  display: none;
  position: relative;
  padding: $results-padding;
  min-height: 100vh;
  font-size: 2rem;  

  ul {

    list-style-type: none;
    padding: 0;

    li {

      span {
        font-family: 'Source Code Pro', monospace;
      }

    }

    li + li {
      margin-top: 5px;
    }
  }

  #ok {
    font-size: 2.5rem;
    padding: 10px 15px;
    display: inline-block;
    position: absolute;
    right: $results-padding;
    top: $results-padding;
    z-index: 10;
  }
}
