@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro);

body {
  background-color: hsla(190, 10%, 50%, 1);
  color: hsla(190, 10%, 30%, 1);
  font-family: 'Source Sans Pro', sans-serif;
}

.item {
  text-align: center;
  font-size: 2rem;
  line-height: 100%;
  padding: 12.6vh 0;
  @media (min-width: 600px) {
    font-size: 4rem;
  };
}

#meal {
  display: block;
}

#side {
  display: none;
}

#drink {
  display: none;
}

#results {
  display: none;
  position: relative;
  padding: 20px 0 10px 10px;
  min-height: 87.99vh;
  font-size: 2rem;
  h1 {
    display: none;
    font-style: italic;
  }
  p {
    margin: 0; padding: 0;
  }
  p + p {
    margin-top: 5px;
  }
  span {
    font-family: 'Source Code Pro', monospace;
  }
}
